@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* NAV */
.nav{
    width: 100%;
    height:50px;
    display: flex;
    flex-direction: row;
}
.nav-left{
    width: 50%;
    position: relative;
}
.nav-left button{
    width: 15%;
    height: 60%;
    position: absolute;
    top: .8em;
    left: 30%;
    background-color: #D9D9D9;
    color: #656565;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer; 
}
.nav-left button:hover{
    background-color: #C46D86;
    color: #E9FFB9;
}
.nav-right{
    width: 50%;
    position: relative;
}
/* HAMBURGER MENU  */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}
.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #044715;
    margin: 4px 0;
    transition: 0.4s;
}
.nav-right ul{    
    display: flex;
    flex-direction: row;
    list-style: none;
    position: absolute;
    top: 1em;
    left: 15%;
    font-size: 15px;
    font-weight: 600;
}
.nav-right ul li{
    color: #4A5630;
    padding-left: 2em; 
    cursor: pointer;    
}
.nav-right ul li:hover{
    color: #C46D86;
}
.nav-right ul .home{
    color: #C46D86;
    cursor: pointer; 
}
.nav-right ul .home:hover{
    color: #4A5630;
}
/* GALLERY */
.gallery{
    width: 100%;
    height: 500px;    
    position: relative;
}
.gallery .gal-img{
    width: 100%;
    height: 100%;
    opacity: 60%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 1); /* ここで透明度を調整 */
    background-repeat: no-repeat;
    overflow: hidden;
}
.gallery p{
    color: white;
    position: absolute;
    top: 30%;
    left: 40%;
}
.gallery h1{
    color: white;
    position: absolute;
    top: 40%;
    left: 32%;
    font-size: 30px;
}
.gallery .gal-btn{
    width: 10%;
    height: 3em;
    background-color: white;
    color: #C46D86;
    font-weight: 600;
    border-radius: .5em;
    position: absolute;
    top: 60%;
    left: 40%;    
    cursor: pointer; 
}
.gallery .gal-btn:hover{
    background-color: #C46D86;
    color: white;
}
.gallery .shop-btn{
    width: 10%;
    height: 3em;
    background-color: #C46D86;
    color: white;
    font-weight: 600;
    border-radius: .5em;
    position: absolute;
    top: 60%;
    left: 53%;   
    cursor: pointer; 
}
.gallery .shop-btn:hover{
    background-color: white;
    color: #C46D86;
}
/* HISTORY */
.history{
    width: 100%;
    height: 400px;  
    position: relative;  
}
.history h2{
    color: #4A5630;
    position: absolute;
    top: 25%;
    left: 37%;
}
.history img{
    width: 10%;
    height: 15%;
    position: absolute;
    top: 35%;
    left: 47%;
}
.history p{
    width: 50%;
    height: auto;
    color: #4A5630;
    position: absolute;
    top: 50%;
    left: 26%;
}
/* FLOWERS */
.flowers{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
}
.flowers img{
    width: 16.6%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
/* MORE */
.more{
    width: 100%;
    height: 400px;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: row;
    position: relative;
}
.more .more-content-1{
    width: 25%;
    height: 50%;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 8%;

    /* border: red solid 2px; */
}
.more .more-content-2{
    width: 25%;
    height: 50%;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 38%;
}
.more .more-content-3{
    width: 25%;
    height: 50%;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 68%;
}
.more-content-1 img,
.more-content-2 img,
.more-content-3 img{
    width: 10%;
    height: 10%;
    object-fit: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    top: 10%;
    left: 45%;
}
.more-content-1 .line,
.more-content-2 .line,
.more-content-3 .line{
    word-break: 10%;
    height: 5%;
    position: absolute;
    top: 23%;
    left: 45%;
}
.more-content-1 h3,
.more-content-2 h3,
.more-content-3 h3{
    color: #656565;
    position: absolute;
    top: 30%;
    left: 42%;
}
.more-content-1 p,
.more-content-2 p,
.more-content-3 p{
    width: 70%;
    font-family: "Inria Serif", serif;
    color: #656565;
    position: absolute;
    top: 50%;
    left: 20%;
}
/* DIFFERENCE */
.difference{
    width: 100%;
    height: 800px;  
    position: relative;  
}
.difference h2{
    color: #4A5630;
    position: absolute;
    top: 20%;
    left: 42%;
}
.difference img{
    width: 10%;
    height: 15%;
    position: absolute;
    top: 25%;
    left: 44%;
}
.difference p{
    width: 50%;
    height: auto;
    color: #4A5630;
    position: absolute;
    top: 40%;
    left: 26%;
}
.difference .dif-img{
    width: 100%;
    height: 40%;
    object-fit: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    top: 55%;
    left: 0;
}
/* CONTACT */
.contact{
    width: 100%;
    height: 600px;
    background-color: black;
    display: flex;
    flex-direction: row;
    position: relative;
}
.contact .contact-left{
    width: 35%;
    height: 80%;
    border: #C46D86 solid 1px;
    position: absolute;
    top: 11%;
    left: 13%;
}
.contact .contact-left h2{
    color: white;
    position: absolute;
    top: 20%;
    left: 30%;    
}
.contact .contact-left p{
    width: 70%;
    font-family: "Inter", sans-serif;
    color: white;
    position: absolute;
    top: 42%;
    left: 15%;
    text-align: center;
}
.contact .contact-right{
    width: 35%;
    height: 80%;
    border: #C46D86 solid 1px;
    position: absolute;
    top: 11%;
    right: 13%;
}
.contact .contact-right h2{
    color: white;
    position: absolute;
    top: 20%;
    left: 35%;
}
.contact .contact-right .p-1{
    font-family: "Inter", sans-serif;
    color: white;
    position: absolute;
    top: 35%;
    left: 20%;
}
.contact .contact-right .contact-line-1{
    width: 65%;
    border: white solid .2px;
    position: absolute;
    top: 45%;
    left: 20%;
}
.contact .contact-right .p-2{
    font-family: "Inter", sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 20%;
}
.contact .contact-right .contact-line-2{
    width: 65%;
    border: white solid .2px;
    position: absolute;
    top: 65%;
    left: 20%;
}
.contact .contact-right .contact-line-3{
    width: 65%;
    border: white solid .2px;
    position: absolute;
    top: 75%;
    left: 20%;
}
.contact .contact-right .p-3{
    color: #C46D86;
    position: absolute;
    top: 85%;
    right: 20%;    
    cursor: pointer;
}
.contact .contact-right .p-3:hover{
    color: #b0ca76;
}
/* FOOTER */
.footer{
    width: 100%;
    height: 100px;
    background-color: #E49E9E;
    display: flex;
    flex-direction: row;
    position: relative;
}
.footer p{
    color: white;
    position: absolute;
    top: 40%;
    left: 12%;
}
.footer .foot-1{
    width: 3.5%;
    height: 50%;
    border-radius: 20px;
    position: relative;
    top: 25%;
    left: 69%;    
    cursor: pointer; 
}
.footer .foot-2{
    width: 3.5%;
    height: 50%;
    border-radius: 20px;
    position: relative;
    top: 25%;
    left: 72%;
    cursor: pointer; 
}
.footer .foot-3{
    width: 3.5%;
    height: 50%;
    border-radius: 20px;
    position: relative;
    top: 25%;
    left: 75%;
    cursor: pointer; 
}
.footer .foot-1:hover,
.footer .foot-2:hover,
.footer .foot-3:hover{
    background-color: #a53250;
}
.footer img{
    width: 80%;
    height: 80%;
    position: absolute;
    top: .3em;
    left: .3em;
}

/* font-family: "Inter", sans-serif;
font-family: "Inria Serif", serif; */

/* メディアクエリでハンバーガーメニューを表示 */
@media (max-width: 768px) {
    .nav-left button{
        width: 20%;
        font-size: 8px;
    }
    .hamburger-menu {
        display: flex;
    }
    .nav-right #menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 1em;
        left: 30%;
        width: 25%;
    }
    .nav-right #menu.show {
        display: flex;
        margin-left: 30%;
    }
    .nav-right ul{    
        position: static;
        top: 1em;
        left: 20%;
        font-size: 10px;
        font-weight: 600;
        line-height: 2em;
        z-index: 1;
    }
    /* GALLERY */
    .gallery p{
        left: 28%;
    }
    .gallery h1{
        left: 13%;
    }
    .gallery .gal-btn{
        left: 36%;    
    }
    .gallery .shop-btn{
        left: 52%;   
    }
    /* HISTORY */
    .history h2{
        top: 18%;
        left: 23%;
    }
    .history img{
        width: 10%;
        height: 15%;
        position: absolute;
        top: 28%;
        left: 47%;
    }
    .history p{
        top: 42%;
        left: 28%;
    }
    /* FLOWERS */
    /* MORE */    
    .more-content-1 h3,
    .more-content-2 h3,
    .more-content-3 h3{
        font-size: 15px;
        left: 36%;
    }
    .more-content-1 p,
    .more-content-2 p,
    .more-content-3 p{
        font-size: 12px;
    }
    /* DIFFERENCE */
    .difference h2{
        top: 12%;
        left: 38%;
    }
    .difference img{
        top: 14%;
        left: 46%;
    }
    .difference p{
        top: 30%;
        left: 28%;
    }
    /* CONTACT */
    .contact .contact-left h2{
        top: 15%;
        left: 30%;        
    }
    .contact .contact-left p{
        top: 42%;
    }
    .contact .contact-right h2{
        top: 15%;
        left: 23%;
    }
    
    
    /* FOOTER */    
    .footer .foot-1{
        width: 6%;
        left: 65%;    
    }
    .footer .foot-2{
        width: 6%;
        left: 67%;
    }
    .footer .foot-3{
        width: 6%;
        left: 69%;
    }

}

@media (max-width: 480px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .nav-left button{
        width: 150px;
        font-size: 20px;
        margin: -.3em auto;
    }
    .nav-right #menu.show {
        margin-left: 0;
    }
    .nav-right ul{    
        left: 0;
    }
    .gallery{
        width: 100%;
        position: relative;
    }
    .gallery p{
        width: 80%;
        left: 10%;
    }
    .gallery h1{
        width: 90%;
        font-size: 22px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        left: 5%;
    }
    .gallery .gal-btn{
        width: 30%;
        margin-top: 30px;
        left: 80px;
    }
    .gallery .shop-btn{
        width: 30%;
        margin-top: 30px;
        right: 10px;
    }
    .history,
    .difference{
        width: 100%;
        height: auto;
        min-height: 550px;
    }
    .history img
    .difference img{
        width: 30%;
        left: 35%;
    }
    .history h2,
    .difference h2{
        width: 80%;
        left: 30%;
    }
    .history p
    .difference p{
        width: 80%;
        left: 10%;
    }
    .more {
        width: 100%;
        min-height: 100vh;
    }
    .more div h3{
        left: 1em;
    }

    .more div {
        width: 100%;
        height: auto; 
    }
    .contact{
        width: 100%;
        height: auto;
        min-height: 850px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact .contact-left h2,
    .contact .contact-right h2{
        width: 80%;
        top: 10%;
        left: 20%;
    }
    .contact .contact-left p{
        top: 30%;
    }
    .contact .contact-left{
        width: 80%;
        height: 40%;
        top: 5%;
        left: 10%;
    }
    .contact .contact-right{
        width: 80%;
        height: 45%;
        top: 50%;
        left: 10%;
    }
}
